.employee {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: #EBEBEB;
    border-bottom-style: solid;
}
.description {
    flex: 1;
}
.employee-name {
    font-size: 16px;
    font-weight: normal;
}

.employee {
    padding: 12px;
}
.employee-name{cursor: pointer;}