.k-listview {
  font-family: sans-serif;
}
.product {
  width: 100%;
}
.header {
  display: flex;
  padding: 12px;
}
.title {
  flex: 1;
  font-size: 22px;
  font-weight: bold;
}
.app-page-header {
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  h3 {
    font-size: 1.25rem;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .app-page-header {
    margin-top: 1.5rem;
  }
}
.employee-details .row {
  margin-bottom: 15px;
}


