<div class="app-page-header">
  <h3 class="mb-0 mr-3 font-weight-semibold">Employees</h3>
  <div class="ant-breadcrumb">
    <span>
      <span class="ant-breadcrumb-link"> <a routerLink="/dashboard">Home</a></span
      ><span class="ant-breadcrumb-separator">/</span></span
    ><span ><span class="ant-breadcrumb-link" >
        <a routerLink="/employee">Employees</a></span ></span > 
  </div>
</div> 



<kendo-dialog class="employee-details" title="Employee Details" (close)="closeModalPopup()" *ngIf="isModalOpened"  [minWidth]="250" [width]="550">
  
  <div class="row">
    <div class="col-4"><strong>Name:</strong></div>
    <div class="col-8 ">{{ selectedEmployee.name }}</div>

  </div>


    <div class="row">
      
      <div class="col-4"><strong>Designation:</strong></div>
      <div class="col-8">{{ selectedEmployee.designation }}</div>
    </div>
    <div class="row">
      <div class="col-4"><strong>Phone Number:</strong></div>
      <div class="col-8 ">{{ selectedEmployee.phoneNumber }}</div>

    </div>
    <div class="row">
      <div class="col-4"><strong>Address:</strong></div>
      <div class="col-8">{{ selectedEmployee.address }}</div>

    </div>
    
</kendo-dialog> 


<kendo-listview
            [data]="employees"
            [containerClass]="'k-d-flex k-flex-col k-flex-nowrap'"
        >
            <ng-template kendoListViewHeaderTemplate>
                <div class="header">
                    <div class="title">
                        
                    </div>
                    <kendo-textbox
                        placeholder="Filter items..."
                        ngModel
                        (ngModelChange)="handleFilterChange($event)"
                        [showSuccessIcon]="false"
                    >
                        <ng-template kendoTextBoxSuffixTemplate>
                            <span class="k-icon k-i-search"></span>
                        </ng-template>
                    </kendo-textbox>
                </div>
            </ng-template>
            <ng-template
                kendoListViewItemTemplate
                let-dataItem="dataItem"
            >
               <app-employee-list
               (onClickList) ="openEmployeeDetailModalPopup($event)"
               class="product"
                    [employee]="dataItem">
                 
               </app-employee-list>
            </ng-template>
        </kendo-listview>